/*EXTEND*/
main .contenedor_home .texto_home .texto_home_boton a {
  color: white;
  text-decoration: none;
  background-color: #3FD077;
  border: 1px solid #3FD077;
  padding: 15px;
  border-radius: 10px; }

/*MIXIN*/
* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto'; }

header {
  background-color: #3FD077;
  position: sticky;
  top: 0;
  align-items: center;
  padding: 0 10%;
  z-index: 1000; }

main {
  background: url(../imagenes/fondoprincipal.png);
  background-position: sticky; }
  main .contenedor {
    padding: 2% 10%; }
    main .contenedor .boton_general {
      display: flex;
      justify-content: center;
      margin-top: 2%; }
      @media screen and (max-width: 1024px) {
        main .contenedor .boton_general {
          margin-top: 0%; } }
      main .contenedor .boton_general a {
        font-size: 20px;
        font-weight: 700;
        padding: 15px;
        color: white;
        text-decoration: none;
        background-color: #FCD462;
        border-radius: 10px; }
        main .contenedor .boton_general a:hover {
          color: #3FD077;
          background-color: transparent;
          border: 1px solid #3FD077;
          transition: 1s ease; }
    main .contenedor .principal {
      /*CARACTERISTICAS*/
      display: grid;
      grid-template-columns: repeat(4, 1fr); }
      @media screen and (max-width: 768px) {
        main .contenedor .principal {
          grid-template-columns: 1fr 1fr; } }
      @media screen and (max-width: 501px) {
        main .contenedor .principal {
          grid-template-columns: 1fr; } }
      main .contenedor .principal .secundario {
        display: grid;
        grid-template-rows: 1fr 0.4fr 0.5fr;
        margin: 25px;
        align-items: center;
        justify-items: center;
        text-align: center;
        gap: 5%; }
        @media screen and (max-width: 1024px) {
          main .contenedor .principal .secundario {
            grid-template-rows: 0fr 0.4fr 0.5fr; } }
        @media screen and (max-width: 501px) {
          main .contenedor .principal .secundario {
            grid-template-rows: 0.5fr 0.2fr 0.3fr;
            gap: 0;
            margin: 0; } }
        main .contenedor .principal .secundario img {
          width: 100%; }
          @media screen and (max-width: 501px) {
            main .contenedor .principal .secundario img {
              width: 80%; } }
        @media screen and (max-width: 1024px) {
          main .contenedor .principal .secundario h3 {
            font-size: 15px; } }
        @media screen and (max-width: 501px) {
          main .contenedor .principal .secundario h3 br {
            display: none; } }
    main .contenedor .texto_como {
      /*COMO FUNCIONA*/
      text-align: center;
      margin-bottom: 5%;
      font-size: 20px; }
      main .contenedor .texto_como h3 {
        margin-bottom: 2%;
        font-size: 35px;
        color: #F9D163; }
        @media screen and (max-width: 501px) {
          main .contenedor .texto_como h3 {
            font-size: 25px;
            font-weight: 600; } }
      main .contenedor .texto_como p {
        font-size: 20px; }
        @media screen and (max-width: 501px) {
          main .contenedor .texto_como p {
            font-size: 15px; } }
    main .contenedor .pasos_como {
      display: grid;
      gap: 50px; }
      @media screen and (max-width: 376px) {
        main .contenedor .pasos_como {
          gap: 10px; } }
      main .contenedor .pasos_como .caja {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px; }
        @media screen and (max-width: 501px) {
          main .contenedor .pasos_como .caja {
            grid-template-columns: 1fr;
            gap: 5px; } }
        main .contenedor .pasos_como .caja div {
          display: grid;
          align-items: center;
          justify-items: center;
          justify-content: center;
          text-align: center; }
        @media screen and (max-width: 501px) {
          main .contenedor .pasos_como .caja .next {
            display: none; } }
    main .contenedor .main_planes {
      /*PLANES Y PRECIOS*/
      width: 100%; }
      main .contenedor .main_planes .contenedor_texto_planes {
        display: grid; }
        @media screen and (max-width: 501px) {
          main .contenedor .main_planes .contenedor_texto_planes {
            border: 10px solid #FCD462; } }
        main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr; }
          @media screen and (max-width: 501px) {
            main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos {
              grid-template-columns: 1fr;
              grid-template-rows: 40px 20px;
              text-align: center;
              align-items: center;
              justify-content: center;
              padding-bottom: 10px; }
              main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos .twh {
                color: white;
                text-align: left;
                padding-left: 5px; }
              main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos h3 {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 0; }
              main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos p {
                margin-bottom: 0; } }
          @media screen and (max-width: 376px) {
            main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos .pwh {
              font-size: 13px; } }
          main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos .ultimo {
            height: 80px;
            display: grid;
            text-align: center;
            align-items: center; }
            main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos .ultimo span {
              font-weight: 500; }
            main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos .ultimo h3 {
              font-weight: 400;
              font-size: 16px; }
              @media screen and (max-width: 1024px) {
                main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos .ultimo h3 {
                  font-size: 14px; } }
            @media screen and (max-width: 1024px) {
              main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos .ultimo p {
                font-size: 13px; } }
          main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos .blanco {
            color: white; }
        main .contenedor .main_planes .contenedor_texto_planes .verde {
          background-color: #3FD077; }
        main .contenedor .main_planes .contenedor_texto_planes .plomo {
          background-color: #DFE6DA; }
      @media screen and (max-width: 501px) {
        main .contenedor .main_planes .on {
          display: none; } }
      @media screen and (max-width: 2560px) {
        main .contenedor .main_planes .of {
          display: none; } }
      @media screen and (max-width: 501px) {
        main .contenedor .main_planes .of {
          display: grid; } }
      @media screen and (max-width: 501px) {
        main .contenedor .main_planes .sb {
          border: 0;
          margin: 20px 0; } }
    main .contenedor .registrate_aqui {
      /*Registrate Aqui*/
      align-items: center;
      text-align: center; }
      main .contenedor .registrate_aqui h2 {
        color: #FCD462;
        font-size: 35git px;
        font-weight: 600; }
      main .contenedor .registrate_aqui form {
        display: grid;
        justify-items: center; }
        main .contenedor .registrate_aqui form input {
          width: 30%;
          height: 50px;
          margin: 1% 0;
          padding: 1%;
          border: #3FD077 solid 2px;
          border-radius: 20px; }
          @media screen and (max-width: 501px) {
            main .contenedor .registrate_aqui form input {
              width: 80%; } }
        main .contenedor .registrate_aqui form div {
          width: 30%; }
          @media screen and (max-width: 501px) {
            main .contenedor .registrate_aqui form div {
              margin: 2% 0;
              width: 80%; } }
          main .contenedor .registrate_aqui form div .input_radio {
            width: 20px;
            height: 15px;
            margin: 0;
            font-weight: 700; }
  main .contenedor_home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 15%;
    background: url(../imagenes/fondoprincipal.png);
    background-position: sticky; }
    @media screen and (max-width: 1024px) {
      main .contenedor_home {
        align-items: center; } }
    @media screen and (max-width: 680px) {
      main .contenedor_home {
        grid-template-columns: 1fr; } }
    @media screen and (max-width: 501px) {
      main .contenedor_home {
        grid-template-columns: 1fr; } }
    main .contenedor_home .texto_home {
      display: grid;
      grid-template-rows: 180px 90px 50px;
      gap: 10px 100px;
      padding: 15% 0; }
      @media screen and (max-width: 680px) {
        main .contenedor_home .texto_home {
          grid-template-columns: 1fr;
          grid-template-rows: 140px 90px 50px;
          padding-bottom: 0; } }
      @media screen and (max-width: 501px) {
        main .contenedor_home .texto_home {
          grid-template-columns: 1fr;
          grid-template-rows: 140px 90px 50px;
          padding-bottom: 0; } }
      @media screen and (max-width: 376px) {
        main .contenedor_home .texto_home {
          grid-template-rows: 140px 90px 70px; } }
      main .contenedor_home .texto_home h1 {
        color: #FCD462;
        font-size: 50px;
        margin-bottom: 0; }
        @media screen and (max-width: 1024px) {
          main .contenedor_home .texto_home h1 {
            font-size: 40px; } }
        @media screen and (max-width: 501px) {
          main .contenedor_home .texto_home h1 {
            font-size: 30px; } }
      main .contenedor_home .texto_home p {
        font-size: 20px;
        margin-bottom: 0; }
        @media screen and (max-width: 1024px) {
          main .contenedor_home .texto_home p {
            font-size: 15px; } }
        @media screen and (max-width: 501px) {
          main .contenedor_home .texto_home p {
            font-size: 13.5px;
            font-weight: 300; } }
      main .contenedor_home .texto_home .texto_home_boton {
        display: flex;
        align-items: center;
        justify-content: left;
        font-weight: 600; }
        @media screen and (max-width: 1024px) {
          main .contenedor_home .texto_home .texto_home_boton a {
            font-size: 15px; } }
        main .contenedor_home .texto_home .texto_home_boton a:hover {
          color: #3FD077;
          background-color: transparent;
          transition: 1s ease-in-out; }
    main .contenedor_home img {
      width: 120%; }
  main .titulopreguntas {
    /*PREGUNTAS Y DUDAS*/
    font-family: 'Roboto';
    color: #FCD462;
    font-weight: 600; }

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2% 15%;
  background-color: #2B2B2B;
  color: white; }
  @media screen and (max-width: 739px) {
    footer {
      align-items: center;
      justify-content: center;
      text-align: center;
      grid-template-columns: 1fr; } }
  @media screen and (max-width: 501px) {
    footer {
      align-items: center;
      justify-content: center;
      text-align: center;
      grid-template-columns: 1fr; } }
  footer .mapa h2 {
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) {
      footer .mapa h2 {
        font-size: 24px; } }
  footer .mapa iframe {
    border-radius: 15px; }
    @media screen and (max-width: 1024px) {
      footer .mapa iframe {
        width: 300px; } }
    @media screen and (max-width: 768px) {
      footer .mapa iframe {
        width: 250px;
        height: 250px; } }
  footer .texto {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr; }
    @media screen and (max-width: 768px) {
      footer .texto {
        grid-template-rows: 0.9fr 0.5fr 0.5fr; } }
    footer .texto .suscribete h2 {
      margin-bottom: 10px; }
      @media screen and (max-width: 768px) {
        footer .texto .suscribete h2 {
          font-size: 24px; } }
    footer .texto .suscribete form {
      width: 100%;
      position: relative; }
      footer .texto .suscribete form input {
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: #3fcf78 2px solid;
        border-radius: 10px;
        position: absolute;
        padding: 10px;
        color: white; }
        @media screen and (max-width: 1024px) {
          footer .texto .suscribete form input {
            height: 40px; } }
        @media screen and (max-width: 768px) {
          footer .texto .suscribete form input {
            height: 40px; } }
        @media screen and (max-width: 739px) {
          footer .texto .suscribete form input {
            position: inherit; } }
        @media screen and (max-width: 501px) {
          footer .texto .suscribete form input {
            position: inherit; } }
      footer .texto .suscribete form button {
        position: absolute;
        width: 20%;
        left: 80%;
        height: 40px;
        background-color: #3fcf78;
        border: 0px;
        border-radius: 10px;
        color: white;
        font-weight: 700; }
        @media screen and (max-width: 1024px) {
          footer .texto .suscribete form button {
            left: 87%; } }
        @media screen and (max-width: 501px) {
          footer .texto .suscribete form button {
            left: 80%; } }
    @media screen and (max-width: 768px) {
      footer .texto .contactanos h2 {
        font-size: 24px; } }
    footer .texto .contactanos ul {
      list-style: none;
      margin-top: 10px; }
      @media screen and (max-width: 739px) {
        footer .texto .contactanos ul {
          padding: 0; } }
    footer .texto .siguenos h2 {
      margin-bottom: 2%; }
      @media screen and (max-width: 768px) {
        footer .texto .siguenos h2 {
          font-size: 24px; } }
    footer .texto .siguenos ul {
      list-style: none; }
      footer .texto .siguenos ul li {
        padding-left: 2%;
        display: inline; }
      @media screen and (max-width: 739px) {
        footer .texto .siguenos ul {
          padding: 0; } }

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 40px;
  width: 100%;
  color: white; }
  .copyright p {
    margin-bottom: 0; }
  @media screen and (max-width: 501px) {
    .copyright {
      text-align: center;
      font-size: 12px; } }
  @media screen and (max-width: 376px) {
    .copyright {
      font-size: 10px; } }

/*BOSTRAP*/
.accordion-flush {
  /*PREGUNTAS Y DUDAS*/
  right: auto; }
  .accordion-flush .accordion-item .accordion-button {
    border: 2px solid #3FD077;
    margin-bottom: 1%;
    border-radius: 10px; }
    .accordion-flush .accordion-item .accordion-button:not(.collapsed) {
      color: #3FD077;
      background-color: transparent;
      box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color); }
    .accordion-flush .accordion-item .accordion-button:focus {
      box-shadow: none; }

/* NAV BOSTRAP */
.bg-light {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important; }

.me-auto {
  margin-right: 0 !important; }

.registro:hover {
  background-color: transparent;
  transition: 1s ease;
  border: #FCD462 solid 0px; }

@media screen and (max-width: 768px) {
  .navbar > .container-fluid {
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center; } }

@media screen and (max-width: 768px) {
  .navbar-expand-lg .navbar-nav {
    align-items: center;
    justify-content: center; } }

.navbar-expand-lg .navbar-nav .nav-link {
  font-family: 'Roboto';
  font-weight: 500;
  color: white; }
  @media screen and (max-width: 1024px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      font-size: 11.5px; } }
  @media screen and (max-width: 501px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      font-size: 14px; } }
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #34A560;
    transition: 1s ease; }

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: #F9D163;
  font-weight: 500; }

.collapse {
  justify-content: end; }

.registro {
  background-color: #FCD462;
  border-radius: 10px;
  padding: 0 15px; }

.navbar-brand {
  width: 200px; }
  .navbar-brand img {
    width: 100%; }
  @media screen and (max-width: 376px) {
    .navbar-brand {
      width: 150px; } }

/*EXTEND*/
main .contenedor_home .texto_home .texto_home_boton a {
  color: white;
  text-decoration: none;
  background-color: #3FD077;
  border: 1px solid #3FD077;
  padding: 15px;
  border-radius: 10px; }

/*MIXIN*/
