@import './base/_variables';

*{
    padding:0;
    margin: 0;
}

body{
    font-family: 'Roboto';
}

header{
    background-color:$c0;
    position: sticky;
    top: 0;
    align-items: center;
    padding: 0 10%;
    z-index: 1000;
}

main{
    background:url(../imagenes/fondoprincipal.png);
    background-position: sticky;
    .contenedor{
        padding: 5% 10%;
        .boton_general{
            text-align: center;
            margin-top: 6%;
            @include mediaQuery('1024'){
                text-align: center;
                margin-top: 4%;
            }
            a{
                font-size: 20px;
                font-weight: 700;
                padding: 15px;
                color: $c3;
                text-decoration: none;
                background-color: $c1;
                border-radius: 10px;
                &:hover{
                    color: $c0;
                    background-color: transparent;
                    border: 1px solid $c0;
                    transition: 1s ease;
                }
            }
        }
        .principal{ /*CARACTERISTICAS*/ 
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            @include mediaQuery('768'){
                grid-template-columns: 1fr 1fr;
            }
            @include mediaQuery('501'){
                grid-template-columns: 1fr;
            }
            .secundario{
                display: grid;
                grid-template-rows: 1fr 0.4fr 0.5fr;
                margin: 25px;
                align-items: center;
                justify-items: center;
                text-align: center;
                gap: 5%;
                @include mediaQuery('1024'){
                    grid-template-rows: 0fr 0.4fr 0.5fr;
                }
                img{
                    width: 100%;
                }
                h3{
                    @include mediaQuery('1024'){
                        font-size: 15px;
                    }
                }
            }
        }
        .texto_como{/*COMO FUNCIONA*/
            text-align: center;
            margin-bottom: 5%;
            font-size: 20px;
            h3{
                margin-bottom: 2%;
                font-size: 35px;
                color: #F9D163;
                @include mediaQuery('501'){
                    font-size: 25px;
                }
            }
            p{
                font-size: 15px;
            }
        }
        .pasos_como{
            display: grid;
            gap: 50px;
            .caja{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 10px;
                @include mediaQuery('501'){
                    grid-template-columns: 1fr;
                    gap: 5px;
                }
                div{
                    display: grid;
                    align-items: center;
                    justify-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
        .main_planes{/*PLANES Y PRECIOS*/
            width: 100%;
            .contenedor_texto_planes{
                display: grid;
                .contenedor_titulos{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    .ultimo{
                        height: 80px;
                        display: grid;
                        text-align: center;
                        align-items: center;
                        span{
                            font-weight: 500;
                        }
                        h3{
                            font-weight: 400;
                            font-size: 16px;
                            @include mediaQuery('1024'){
                                font-size: 14px;
                            }
                        }
                        p{
                            @include mediaQuery('1024'){
                                font-size: 13px;
                            }
                        }
                    }
                    .blanco {
                        color: $c3;
                    }
                }
                .verde{
                    background-color: $c0;
                }
                .plomo{
                    background-color: $c3;
                }

            }
        }
        .registrate_aqui{
            align-items: center;
            text-align: center;
            h2{
                color: $c1;
                font-size: 26px;
            }
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                input{
                    width: 50%;
                    height: 50px;
                    margin: 1% 0;
                    padding: 0.5%;
                    border: $c0 solid 2px;
                    border-radius: 20px;
                }
            }
        }
    }
    .contenedor_home{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 15%;
        background:url(../imagenes/fondoprincipal.png);
        background-position: sticky;
        @include mediaQuery('1024'){
            align-items: center;
        }
        @include mediaQuery('501'){
            grid-template-columns: 1fr;
        }
        .texto_home{
            display: grid;
            grid-template-rows: 180px 90px 50px;
            gap: 10px 100px;
            padding: 15% 0;
            @include mediaQuery('501'){
                grid-template-columns: 1fr;
                grid-template-rows:140px 90px 50px;
                padding-bottom: 0;
            }
            @include mediaQuery('376'){
                grid-template-rows:140px 90px 70px;
            }
            h1{
                color: $c1;
                font-size: 50px;
                margin-bottom: 0;
                @include mediaQuery('1024'){
                    font-size: 40px;
                }
                @include mediaQuery('501'){
                    font-size: 30px;
                }
            }
            p{
                font-size: 20px;
                margin-bottom: 0;
                @include mediaQuery('1024'){
                    font-size: 15px;
                }
                @include mediaQuery('501'){
                    font-size: 13.5px;
                    font-weight: 300;
                }
            }
            .texto_home_boton{
                display: flex;
                align-items: center;
                justify-content: left;
                font-weight: 600;
                a{
                    @extend %boton;
                    @include mediaQuery('1024'){
                        font-size: 15px;
                    }
                    &:hover{
                        color: $c0;
                        background-color: transparent;
                        transition: 1s ease-in-out;
                    }
                }
            }
        }
        img{
            width:100%;
        }
    }
    .titulopreguntas{ /*PREGUNTAS Y DUDAS*/
        font-family:'Roboto';
        color: $c1;
        font-weight: 600;
    }

}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2% 15%;
    background-color: #2B2B2B;
    color: $c3;
    @include mediaQuery('501'){
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-template-columns: 1fr;
    }
    .mapa{
        h2{
            margin-bottom: 10px;
        }
        iframe{
            border-radius: 15px;
            @include mediaQuery('1024'){
                width: 300px;
            }
            @include mediaQuery('768'){
                width: 250px;
            }
        }
    }
    .texto{
        display: grid;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        @include mediaQuery('768'){
            grid-template-rows: 0.9fr 0.5fr 0.5fr;
        }
        .suscribete{
            h2{
                margin-bottom: 10px;
            }
            form{
                width: 100%;
                position: relative;
                input{
                    width: 100%;
                    height: 40px;
                    background-color: transparent;
                    border: #3fcf78 2px solid;
                    border-radius: 10px;
                    position: absolute;
                    padding: 10px;
                    color: white;
                    @include mediaQuery('1024'){
                        height: 40px;
                    }
                    @include mediaQuery('768'){
                        height: 40px;
                    }
                    @include mediaQuery('501'){
                        position: inherit;
                    }
                }
                button{
                    position: absolute;
                    width: 20%;
                    left: 80%;
                    height: 40px;
                    background-color:#3fcf78 ;
                    border: 0px;
                    border-radius: 10px;
                    color: white;
                    font-weight: 700;
                    @include mediaQuery('1024'){
                        left: 87%;
                    }
                    @include mediaQuery('501'){
                        left: 80%;
                    }
                }
            }
        }
        .contactanos{
            ul{
                list-style: none;
                margin-top: 10px;
                @include mediaQuery('501'){
                    padding: 0;
                }
            }
        }
        .siguenos{
            h2{
                margin-bottom: 2%;
            }
            ul{
                list-style: none;
                li{
                    padding-left: 2%;
                    display: inline;
                }
                @include mediaQuery('501'){
                    padding: 0
                }
            }
        }
    }
}

.copyright{
    p{
        margin-bottom: 0;
    }
    @include copyright (black, white);
    @include mediaQuery('501'){
        font-size: 12px;
    }
    @include mediaQuery('376'){
        text-align: center;
        font-size: 10px;
    }
}

/*BOSTRAP*/

.accordion-flush {/*PREGUNTAS Y DUDAS*/
    right: auto;
    .accordion-item {
        .accordion-button{
            border: 2px solid $c0;
            margin-bottom: 1%;
            border-radius: 10px;
            &:not(.collapsed){
                color: $c0; 
                background-color: transparent; 
                box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
            }
            &:focus {
                box-shadow: none;
            }
        }
    }
}

/* NAV BOSTRAP */
.bg-light {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
.me-auto {
    margin-right: 0!important;
}
.registro:hover{
    background-color: transparent;
    transition: 1s ease;
    border: $c1 solid 0px;
}
.navbar-expand-lg{
    .navbar-nav{
        @include mediaQuery('768'){
            align-items: center;
            justify-content: center;
        }
        .nav-link{
            font-family: 'Roboto';
            font-weight: 500;
            color: $c3;
            @include mediaQuery('1024'){
                font-size: 11.5px;
            }
            &:hover{
                color: $c1;
                transition: 1s ease;
            }
        }
    }

}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color:#F9D163;
    font-weight: 400;  
}
.collapse {
    justify-content: end;
}
.registro{
    background-color: $c1;
    border-radius: 10px;
}
.navbar-brand{
    width: map-get($medidas, xs);
    img{
        width: 100%;
    }
    @include mediaQuery('376'){
        width: 150px;
    }
}
