*{
    padding:0;
    margin: 0;
}


/*-----ESTILOS GENERALES-----*/
body{
    font-family: 'Roboto';
}
header{
    background-color: #3fcf78;
    position: sticky;
    top: 0;
    align-items: center;
    padding: 0 10%;
    z-index: 1000;
}
/*header nav ul{
    list-style:none;
    display:flex;
    flex-direction :row;
    justify-content :space-evenly;
}
header nav ul li{
    display: flex;
    align-items: center;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}
header nav ul li a:hover{
    color: #F9D163;
    transition: 1s ease;
}
header nav ul .boton{
    color: white;
    background-color: #F9D163;
    border-radius: 5px;
    width: fit-content;
}
header nav ul .boton:hover{
    background-color: transparent;
    border: 1px solid #F9D163;
    transition: 1s ease;
}
header .logo_enlace{
    align-items: center;
    margin: 10px;
}
header .logo_enlace a {
    display: flex;
    justify-content: center;
}
header .logo_enlace a img{
    width: 100%;
}*/

/*-------GENERALES---------*/
main{
    background:url(../imagenes/fondoprincipal.png);
    background-position: sticky;
}

main .contenedor{
    padding: 5% 10%;
}
main .contenedor .boton_general{
    text-align: center;
    margin-top: 6%;
}

main .contenedor .boton_general a{
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    color: white;
    text-decoration: none;
    background-color:#F9D163;
    border-radius: 10px;
}
main .contenedor .boton_general a:hover{
    color: #3fcf78;
    background-color: transparent;
    border: 1px solid #3fcf78;
    transition: 1s ease;
}

/*-------HOME---------*/
main .contenedor_home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 15%;
    background:url(../imagenes/fondoprincipal.png);
    background-position: sticky;
}
main .contenedor_home .texto_home{
    display: grid;
    grid-template-rows: 200px 100px ;
    gap: 10px 100px;
    padding: 15% 0;
}
main .contenedor_home .texto_home h1{
    color: #F9D163;
    font-size: 50px;
}
main .contenedor_home .texto_home p{
    font-size: 20px;
}

main .contenedor_home .texto_home .texto_home_boton a{
    font-size: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color:#F9D163;
    border-radius: 10px;
}
main .contenedor_home .texto_home .texto_home_boton a:hover{
    color: #3fcf78;
    background-color: transparent;
    border: 1px solid #3fcf78;
    transition: 1s ease;
}
main .contenedor_home img{
    width:100%;
}

/*--------CARACTERISTICAS----------*/
main .contenedor  .principal{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

main .contenedor .principal .secundario{
    display: grid;
    grid-template-rows: 1fr 0.4fr 0.5fr;
    margin: 25px;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 5%;
}
main .contenedor .principal .secundario img{
    width: 100%;
}

 /*---------COMO FUNCIONA----------*/
main .contenedor .texto_como{
    text-align: center;
    margin-bottom: 5%;
    font-size: 20px;
}
main .contenedor .texto_como h3{
    margin-bottom: 2%;
    font-size: 35px;
    color: #F9D163;
}
main .contenedor .pasos_como{
    display: grid;
    gap: 50px;
}
main .contenedor .pasos_como .caja{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
main .contenedor .pasos_como .caja div{
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

/*PLANES Y PRECIOS*/
main .contenedor .main_planes{
    width: 100%;
}
main .contenedor .main_planes .contenedor_texto_planes{
    display: grid;
}
main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos .ultimo{
    height: 80px;
    display: grid;
    text-align: center;
    align-items: center;
}
main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos .blanco {
    color: white;
}
main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos .ultimo span{
    font-weight: 500;
}
main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos .ultimo h3{
    font-weight: 400;
    font-size: 16px;
}
main .contenedor .main_planes .contenedor_texto_planes .verde{
    background-color: #3FD077;
}
main .contenedor .main_planes .contenedor_texto_planes .plomo{
    background-color: #DFE6DA;
}


/*-----------PREGUNTAS Y DUDAS---------*/
main .img_preguntas{
    width: 4%;
    margin-right: 1%;
}
main .contenedor .texto_preguntas h2{
    font-size: 26px;
    color:#F9D163;
}
main .contenedor .texto_preguntas .contenedor_respuestas{
    border: #3fcf78 solid 4px;
    border-radius: 50px;
    padding: 2%;
    margin: 2% 0;
}
main .contenedor .texto_preguntas .contenedor_respuestas .contenedor_preguntas{
    display: inline-flex;
    align-items: center;
    width: 100%;
}


/*-----------REGISTRATE AQUI---------*/
main .contenedor .registrate_aqui{
    align-items: center;
    text-align: center;
}
main .contenedor .registrate_aqui h2{
    color: #F9D163;
    font-size: 26px;
}
main .contenedor .registrate_aqui form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .contenedor .registrate_aqui form input{
    width: 50%;
    height: 50px;
    margin: 1% 0;
    padding: 0.5%;
    border: #3fcf78 solid 2px;
    border-radius: 20px;
}

/*-----PIE DE PAGINA-----*/
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2% 15%;
    background-color: #2B2B2B;
    color: white;
}

footer .mapa h2{
    margin-bottom: 10px;
}

footer .mapa iframe{
    border-radius: 15px;
}

footer .texto{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
}
footer .texto .suscribete h2{
    margin-bottom: 10px;
}

footer .texto .suscribete form{
    width: 100%;
    position: relative;
}

footer .texto .suscribete form input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: #3fcf78 2px solid;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    color: white;
}

footer .texto .suscribete form button{
    position: absolute;
    width: 20%;
    left: 84%;
    height: 40px;
    background-color:#3fcf78 ;
    border: 0px;
    border-radius: 10px;
    color: white;
    font-weight: 700;

}

footer .texto .contactanos ul{
    list-style: none;
    margin-top: 10px;
}

footer .texto .siguenos h2{
    margin-bottom: 2%;
}

footer .texto .siguenos ul{
    list-style: none;
}

footer .texto .siguenos ul li{
    padding-left: 2%;
    display: inline;
}
.copyright{
    text-align: center;
    background-color: #2B2B2B;
    width: 100%;
    color: white;
    padding-bottom: 10px;
}

/* NAV BOSTRAP */
    .bg-light {
        --bs-bg-opacity: 0;
        background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    }
    .me-auto {
        margin-right: 0!important;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        font-family: 'Roboto';
        font-weight: 500;
        color: white;
    }

    .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
        color:#F9D163;
        font-weight: 400;  
    }
    .collapse {
        justify-content: end;
    }
    .registro{
        background-color: #F9D163;
        border-radius: 10px;
    }
    .navbar-brand{
        width: 200px;
    }
    .navbar-brand img{
        width: 100%;
    }

    /*Responsive*/

    @media screen and (max-width: 1024px){
        main .contenedor_home .texto_home h1{
            font-size: 40px;
        }
        main .contenedor_home .texto_home p{
            font-size: 15px;
        }
        main .contenedor_home .texto_home .texto_home_boton a{
            font-size: 15px;
        }
        main .contenedor_home{
            align-items: center;
        }
        footer .mapa iframe{
            width: 300px;
        }
        footer .texto .suscribete form button{
            left: 87%;
        }
        main .contenedor .boton_general {
            text-align: center;
            margin-top: 0%
        }
        /*CARACTERISTICAS*/
        .caracteristicas .principal .secundario h3{
            font-size: 16px;
        }
        main .contenedor .principal .secundario {
            grid-template-rows: 0fr 0.4fr 0.5fr;
        }
        /*PLANES*/
        main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos .ultimo h3{
            font-size: 14px;
        }
        main .contenedor .main_planes .contenedor_texto_planes .contenedor_titulos .ultimo p{
            font-size: 13px;
        }
        /*Bostrap*/
        .navbar-expand-lg .navbar-nav .nav-link {
            font-size: 11.5px;
        }
        footer .texto .suscribete form input {
            height: 40px;
        }
    }

    @media screen and (max-width: 768px){
        .navbar-nav{
            align-items: center;
            justify-content: center;
        }
        footer .texto {
            grid-template-rows: 0.9fr 0.5fr 0.5fr;
        }
        footer .texto .suscribete form input {
            height: 40px;
        }
    }