$c0:#3FD077;
$c1:#FCD462;
$c2:#34A560;
$c3:white;

$medidas:(
    "xs": (200px),
    "sm": (576px),
    "md": (768px),
    "lg": (992px),
    "xl": (1200px)
);

 /*EXTEND*/

 %boton{
    color: $c3;
    text-decoration: none;
    background-color: $c0;
    border: 1px solid $c0;
    padding: 15px;
    border-radius: 10px;
 }

 /*MIXIN*/

 @mixin copyright ($bgcolor, $txcolor) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:$bgcolor ;
    height: 40px;
    width: 100%;
    color:$txcolor;}

@mixin mediaQuery($pantalla) {
    @if $pantalla == '2560'{
        @media screen and (max-width: 2560px){
            @content
        } 
    };
    @if $pantalla == '1024'{
        @media screen and (max-width: 1024px){
            @content
        } 
    };
    @if $pantalla == '768'{
        @media screen and (max-width: 768px){
            @content
        } 
    };
    @if $pantalla == '501'{
        @media screen and (max-width: 501px){
            @content
        } 
    };
    @if $pantalla == '376'{
        @media screen and (max-width: 376px){
            @content
        } 
    };
    @if $pantalla == '376'{
        @media screen and (max-width: 502px){
            @content
        } 
    }
}